body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.quiz-section {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#quiz {
    text-align: center;
}

h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

input[type="radio"] {
    display: none;
}

label {
    display: block;
    background-color: #e4e4e4;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="radio"]:checked+label {
    background-color: #3498db;
    color: #fff;
}

hr {
    border: 1px solid #ddd;
}

.btn {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #197cbe;
}
